## Required Codio Assignment 1.2: Exploring a DataFrame 

**Expected Time: 30 Minutes**

**Total Points: 12 Points**

In this exercise you will use basic summarization methods on a pandas DataFrame.

## Index:

- [Problem 1](#Problem-1)
- [Problem 2](#Problem-2)
- [Problem 3](#Problem-3)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
nba = pd.read_csv('data/nba.csv', index_col = 0)

[Back to top](#Index:) 

## Problem 1

### Describing the data

**4 Points**

Using the DataFrame `nba` loaded above, get a summary of the numeric variables using the `.describe` method.  Assign your results as a DataFrame to `nba_summary` below.

In [ ]:
### GRADED

nba_summary = None

### BEGIN SOLUTION
nba_summary = nba.describe()
type(nba_summary)
### END SOLUTION

# Answer check
print(nba_summary)
print(type(nba_summary))

[Back to top](#Index:) 

### Problem 2

### Getting the missing data information 

**4 Points**

In the National Basketball Association (NBA), there are some athletes that do not take the usual career path of playing for a college and then become a professional athlete. Some athletes skip college and go professional directly out of high school. How many athletes in this DataFrame skipped college and went straight to the professional level?

To find this answer, create a series with the counts of null values for each column in the `nba` DataFrame.  Assign your solution as a pandas Series to `nba_nulls` below.  **HINT**: Use the `.isnull` and `.sum` methods together on the `nba` DataFrame.

In [ ]:
### GRADED

nba_nulls = None

### BEGIN SOLUTION
nba_nulls = nba.isnull().sum()
type(nba_nulls)
### END SOLUTION

# Answer check
print(nba_nulls)
print(type(nba_nulls))

[Back to top](#Index:) 

## Problem 3

### Examining top 10 rows

**4 Points**

Use the `.head` method to display the first ten rows of the `nba` DataFrame.  Assign your results as a DataFrame to the `nba_head` variable below.

In [ ]:
### GRADED

nba_head = None

### BEGIN SOLUTION
nba_head = nba.head(10)
type(nba_head)
### END SOLUTION

# Answer check
print(nba_head)
print(nba_head.shape)